<aside
    class="w-64 bg-white text-black flex flex-col shadow-2xl h-screen sticky top-0">
    <div class="p-6 space-y-6 rounded-t-lg mb-20">
        <div class="mb-20">
            <h2 class="text-3xl font-semibold text-center text-black font-bold">Admin Dashboard</h2>
        </div>
        <ul class="space-y-4 pl-0" id="menu">
            <li class="font-semibold text-xl">
                <a href="/admin"
                    class="block py-2 px-4 rounded-lg no-underline hover:bg-slate-300 hover:no-underline transition duration-300 ease-in-out flex items-center space-x-2"
                    data-page="dashboard">
                    <i class="bi bi-house-door-fill"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="font-semibold text-xl">
                <a href="/admin/users"
                    class="block py-2 px-4 rounded-lg no-underline hover:bg-slate-300 hover:no-underline transition duration-300 ease-in-out flex items-center space-x-2"
                    data-page="users">
                    <i class="bi bi-person-fill"></i>
                    <span>Users</span>
                </a>
            </li>
            <li class="font-semibold text-xl">
                <a href="/admin/products"
                    class="block py-2 px-4 rounded-lg no-underline hover:bg-slate-300 hover:no-underline transition duration-300 ease-in-out flex items-center space-x-2"
                    data-page="products">
                    <i class="bi bi-box-fill"></i>
                    <span>Products</span>
                </a>
            </li>
            <li class="font-semibold text-xl">
                <a href="/admin/orders"
                    class="block py-2 px-4 rounded-lg no-underline hover:bg-slate-300 hover:no-underline transition duration-300 ease-in-out flex items-center space-x-2"
                    data-page="orders">
                    <i class="bi bi-basket-fill"></i>
                    <span>Orders</span>
                </a>
            </li>
            <li class="font-semibold text-xl">
                <a href="/admin/profile"
                    class="block py-2 px-4 rounded-lg no-underline hover:bg-slate-300 hover:no-underline transition duration-300 ease-in-out flex items-center space-x-2"
                    data-page="profile">
                    <i class="bi bi-gear-fill"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="font-semibold text-xl">
                <form action="/logout" method="post" class="mb-0">
                    <button
                        class="w-full text-lg mb-0 py-2 pl-4 font-semibold rounded-lg hover:bg-slate-300 transition duration-300 ease-in-out">
                        <div class="flex justify-begin m-0 space-x-2 items-center">
                            <i class="bi bi-door-open-fill text-black"></i>
                            <span>Logout</span>
                        </div>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</aside>

<script>
    const currentPage = window.location.pathname.split('/').pop();

    const menuItems = document.querySelectorAll('#menu a');

    menuItems.forEach(item => {
        const pageName = item.dataset.page;
        if (currentPage.includes(pageName)) {
            item.style.backgroundColor = "black";
            item.style.color = "white";
        }
    });

    if (currentPage === 'admin') {
        menuItems[0].style.backgroundColor = "black";
        menuItems[0].style.color = "white";
    }
</script>