<header class="bg-white shadow flex justify-between items-center px-3 py-3">
    <a class="navbar-brand">
        <img src="/system_images/Logo.png" width="100" height="50" alt="Logo">
    </a>

    <div class="flex justify-between items-center w-full">
        <div class="flex items-center space-x-10 ml-10">
            <a href="/" class="text-lg text-gray-600 hover:text-gray-800 no-underline hover:no-underline">Home</a>
            <a href="/cart" class="text-lg text-gray-600 hover:text-gray-800 no-underline hover:no-underline">Cart</a>
            <div class="relative">
                <i class="fa fa-search absolute left-3 top-3 text-gray-400"></i>
                <input id="search-input" type="text" placeholder="Search here"
                    class="border border-gray-300 rounded-md pl-10 pr-4 py-2 focus:outline-none focus:border-blue-500 w-96">
            </div>
        </div>
        <div class="flex items-center space-x-10 mr-3">
            <a href="/profile" class="text-lg text-gray-600 hover:text-gray-800 no-underline hover:no-underline">Profile</a>
            <form action="/logout" method="post" class="mb-0">
                <button class="text-lg bg-red-500 rounded-lg text-white p-2">Logout</button>
            </form>
        </div>
    </div>
</header>