<div class="flex flex-col h-screen bg-gray-100">
    <div class="flex">
        {{> aside }}
        <main class="flex-1 p-6 bg-gray-100 h-full relative">
            <div id="loading"
                class="absolute inset-0 flex flex-col items-center justify-center bg-gray-100 bg-opacity-75 z-50 hidden">
                <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-blue-500"></div>
                <div class="mt-4 text-center text-gray-700 font-semibold">Loading...</div>
            </div>

            {{> mainHeader title="Users List" content="Explore our curated list of users tailored just for you"}}

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mb-6 text-white">
                {{> admin/dashboard/card href='/' icon='<i class="bi bi-person-fill fs-2"></i>'
                        title="Total Users" content=totalUsers bg="blue-400" hover="blue-400"}}
                {{> admin/dashboard/card href='/' icon='<i class="bi bi-person-fill fs-2"></i>'
                        title="Actived Users" content=totalActiveUsers bg="green-400" hover="green-400"}}
                {{> admin/dashboard/card href='/' icon='<i class="bi bi-person-fill fs-2"></i>'
                        title="Inactived Users" content=totalInactiveUsers bg="orange-400" hover="orange-400"}}
                {{> admin/dashboard/card href='/' icon='<i class="bi bi-person-fill fs-2"></i>'
                        title="Inactived Users" content=totalInactiveUsers bg="blue-500" hover="blue-500"}}
            </div>

            <div
                class="bg-black text-white rounded-xl shadow-2xl p-8 mb-4 backdrop-blur-lg hover:rounded-xl">
                <table class="w-full text-left bg-white shadow-lg rounded-xl">
                    <thead>
                        <tr style="background-color:#f5f5f4" class="rounded-t-xl">
                            <th class="px-6 py-4 font-bold text-lg text-gray-600 text-center w-32 rounded-t-xl">Avatar
                            </th>
                            <th class="px-6 py-4 font-bold text-lg text-gray-600 text-center rounded-t-xl">Full Name
                            </th>
                            <th class="px-6 py-4 font-bold text-lg text-gray-600 text-center rounded-t-xl">Email</th>
                            <th class="px-6 py-4 font-bold text-lg text-gray-600 text-center w-48 rounded-t-xl">Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody id="user-list" class="rounded-b-xl">
                    </tbody>
                </table>
                <div id="pagination-controls" class="flex items-center mt-10 gap-4">
                    <button id="prev"
                        class="w-auto font-bold px-4 py-2 bg-gray-600 text-white rounded-lg transition duration-300 hover:bg-gray-900 {{#if (lt currentPage totalPages)}}{{else}}bg-gray-300 cursor-not-allowed text-transparent{{/if}}">
                        Previous
                    </button>
                    <span id="current-page"
                        class="mx-auto w-auto font-bold px-10 py-2 bg-gray-600 text-white rounded-lg transition duration-300">
                        Page 1
                    </span>
                    <button id="next"
                        class="w-auto font-bold px-10 py-2 bg-gray-600 text-white rounded-lg transition duration-300 hover:bg-gray-900 {{#if (lt currentPage totalPages)}}{{else}}bg-gray-300 cursor-not-allowed text-transparent{{/if}}">
                        Next
                    </button>
                </div>
            </div>
        </main>

        <div id="deleteModal"
            class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 hidden z-50 transition-opacity duration-300 ease-in-out">
            <div
                class="bg-white p-8 rounded-lg shadow-xl transform transition-transform duration-300 ease-in-out scale-95">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-2xl font-bold text-gray-800 mb-0">Confirm Delete User</h2>
                    <button type="button" id="closeModalButton"
                        class="text-red-500 hover:text-red-700 focus:outline-none">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <div class="flex flex-col space-y-2">
                    <p class="text-gray-600">Are you sure you want to delete <span class="font-bold text-gray-800">user
                        </span>? This action cannot be undone.</p>
                    <p class="text-red-500 font-medium">This will permanently remove all data associated with this user.
                    </p>
                </div>
                <div class="flex justify-end space-x-4 mt-4">
                    <form id="delete-form" action="/admin/users/delete" method="POST" class="mb-0">
                        <input type="hidden" name="email" value="" />
                        <button type="submit"
                            class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition-colors duration-300">Delete
                            User</button>
                    </form>
                    <button type="button" id="closeModalButton"
                        class="bg-gray-200 text-gray-800 px-4 py-2 rounded hover:bg-gray-300 transition-colors duration-300">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{> footer }}
    </div>
</div>

<script>
    document.getElementById('closeModalButton').addEventListener('click', function () {
        document.getElementById('deleteModal').classList.add('hidden');
    });

    const apiUrl = "/admin/users";

    function showLoading() {
        document.getElementById("loading").classList.remove("hidden");
    }

    function hideLoading() {
        document.getElementById("loading").classList.add("hidden");
    }

    function renderUsers(users) {
        const userList = document.getElementById("user-list");
        userList.innerHTML = "";
        users.forEach((user) => {
            const row = document.createElement("tr");
            row.className = "border-b hover:bg-gray-50 hover:rounded-xl";

            row.innerHTML = `
                <td class="px-6 py-3">
                    <img src="${user.image || 'default-avatar.png'}" alt="${user.firstName}" class="w-12 h-12 rounded-full object-cover border-2 border-indigo-400 mx-auto" />
                </td>
                <td class="px-6 py-3 text-gray-800 text-center">${user.lastName} ${user.firstName}</td>
                <td class="px-6 py-3 text-gray-500 text-center">${user.email}</td>
                <td class="px-6 py-3 mx-auto">
                    <div class="flex justify-center items-center mx-auto space-x-2">
                        <form action="/admin/users" method="GET" class="my-0 mb-0">
                            <input type="hidden" name="email" value="${user.email}" class="mx-auto"/>
                            <button type="submit" class="bg-blue-500 text-white px-3 py-2 rounded-lg hover:bg-blue-600 transition duration-800 font-bold mx-auto">
                                <i class="fas fa-eye"></i>
                            </button>
                        </form>
                        <form class="my-0 mb-0">
                            <input type="hidden" name="email" value="${user.email}" class="mx-auto"/>
                            <button type="button" class="delete-button bg-red-500 text-white px-3 py-2 rounded-lg hover:bg-red-600 transition duration-800 font-bold mx-auto" data-email="${user.email}">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </div>
                </td>
            `;
            userList.appendChild(row);
        });

        document.querySelectorAll('.delete-button').forEach(button => {
            button.addEventListener('click', function () {
                const email = this.getAttribute('data-email');
                document.getElementById('deleteModal').classList.remove('hidden');
                document.getElementById('delete-form').querySelector('input[name="email"]').value = email;
            });
        });
    }

    function updatePaginationControls(currentPage, totalPages) {
        const prevButton = document.getElementById("prev");
        const nextButton = document.getElementById("next");
        document.getElementById("current-page").innerHTML = `Page ${currentPage}`;
        prevButton.disabled = currentPage === 1;
        nextButton.disabled = currentPage === totalPages;
        prevButton.style.cursor = prevButton.disabled ? "not-allowed" : "pointer";
        nextButton.style.cursor = nextButton.disabled ? "not-allowed" : "pointer";
        prevButton.style.backgroundColor = prevButton.disabled ? "transparent" : "";
        nextButton.style.backgroundColor = nextButton.disabled ? "transparent" : "";
        prevButton.style.color = prevButton.disabled ? "transparent" : "";
        nextButton.style.color = nextButton.disabled ? "transparent" : "";
    }

    function fetchPage(page = 1) {
        showLoading();
        fetch(`${apiUrl}?page=${page}`)
            .then((response) => {
                if (!response.ok) throw new Error("Error fetching data from server");
                return response.json();
            })
            .then((data) => {
                renderUsers(data.users);
                updatePaginationControls(data.currentPage, data.totalPages);
            })
            .catch((error) => console.error("Error:", error))
            .finally(() => hideLoading());
    }

    document.getElementById("prev").addEventListener("click", () => {
        const currentPage = parseInt(document.getElementById("current-page").innerText.split(" ")[1]);
        fetchPage(currentPage - 1);
    });

    document.getElementById("next").addEventListener("click", () => {
        const currentPage = parseInt(document.getElementById("current-page").innerText.split(" ")[1]);
        fetchPage(currentPage + 1);
    });

    fetchPage();
</script>