<nav class="flex justify-between p-4 bg-white shadow-md mb-4">
    <div class="flex-row items-center space-y-2">
        <h1 class="flex font-extrabold text-4xl">{{title}}</h1>
        <p class="text-md">{{content}}</p>
    </div>

    <div class="relative flex items-center w-1/2 justify-end">
        <form id="search-form" class="flex items-center space-x-2" action="{{action}}" method="GET">
            {{{options}}}

            <div class="relative w-full">
                <input type="text" name="query" placeholder="Search value"
                    class="w-full pl-3 py-2 pr-14 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none">
                <button type="submit"
                    class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-blue-600 text-white w-10 h-10 flex items-center justify-center rounded-lg hover:bg-blue-500 transition">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>

    </div>
</nav>