<div class="flex flex-col h-screen bg-gray-100">
    <div class="flex">
        <aside class="w-64 bg-white shadow-md h-full">
            {{> aside }}
        </aside>
        <main class="flex-1 overflow-y-auto p-6 bg-gray-100 h-full">
            <div class="container mx-auto px-3 py-2">
                <div class="bg-gradient-to-r from-blue-500 to-purple-500 text-white rounded-lg shadow-2xl p-8 mb-8">
                    <div class="flex justify-between items-center mt-8 space-x-4">
                        <h2 class="text-4xl font-extrabold pb-4 mb-0 text-center flex items-center">
                            Personal Informations
                        </h2>
                        <button id="editProfileButton"
                            class="bg-red-400 hover:bg-red-700 text-white font-bold mb-4 py-2 px-4 rounded focus:outline-none focus:shadow-outline flex items-center">
                            Edit Profile
                        </button>
                    </div>


                    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
                        <div class="space-y-6">
                            <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg">
                                <span class="text-lg block font-semibold text-blue-700">Name</span>
                                <span class="text-lg font-medium flex justify-end">{{adminInfo.name}}</span>
                            </div>
                            <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg">
                                <span class="text-lg block font-semibold text-blue-700">Email</span>
                                <span class="text-lg font-medium flex justify-end">{{adminInfo.email}}</span>
                            </div>
                            <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg">
                                <span class="text-lg block font-semibold text-blue-700">Role</span>
                                <span class="text-lg font-medium flex justify-end">{{adminInfo.role}}</span>
                            </div>
                        </div>
                    </div>

                    <div id="editProfileModal"
                        class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center hidden">
                        <div class="bg-white p-6 rounded-lg w-1/3">
                            <h2 class="text-xl font-bold mb-4 text-black">Edit Profile</h2>
                            <form action="/admin/profile/edit" method="POST">
                                <div class="mb-4">
                                    <label for="name" class="block text-sm font-semibold text-black">Name</label>
                                    <input type="text" id="name" name="name"
                                        class="w-full px-3 py-2 border border-gray-300 rounded" required>
                                </div>
                                <div class="mb-4">
                                    <label for="email" class="block text-sm font-semibold text-black">Email</label>
                                    <input type="email" id="email" name="email"
                                        class="w-full px-3 py-2 border border-gray-300 rounded" required>
                                </div>
                                <div class="mb-2 flex justify-end space-x-3">
                                    <button type="submit"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        Save Changes
                                    </button>
                                    <button id="closeModalButton"
                                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                                        Close
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div>
        {{> footer }}
    </div>
</div>

<script>
    const editProfileButton = document.getElementById('editProfileButton');
    const editProfileModal = document.getElementById('editProfileModal');
    const closeModalButton = document.getElementById('closeModalButton');

    editProfileButton.addEventListener('click', () => {
        editProfileModal.classList.remove('hidden');
    });

    closeModalButton.addEventListener('click', () => {
        editProfileModal.classList.add('hidden');
    });
</script>