<footer class="bg-white text-center py-4 border-t-2 border-gray-600 {{dynamic}} ">
    <p class="mb-0 font-semibold text-gray-600 hover:text-gray-800">&copy; 2024 YourBrand. All rights reserved.</p>
</footer>
