<div class="flex flex-col h-screen">
    <div class="flex">
        {{> aside }}
        <main class="flex-1 overflow-y-auto h-full bg-slate-50">
            <div class="flex-1 flex flex-col">
                <header class="h-48 flex items-center justify-between px-0 relative">
                    <div class="absolute inset-0 bg-center bg-black z-0"></div>

                    {{> admin/banner id="content1" href="/admin" title="The system is running smoothly"
                    message="Check out the reports and stats now." button_content="Go to Dashboard" width="w-[180px]"}}
                    {{> admin/banner id="content2" href="/admin/users" title="Check your Users"
                    message="Manage your users and update their details." button_content="View Users"
                    hidden="hidden" width="w-[120px]"}}
                    {{> admin/banner id="content3" href="/admin/products" title="Manage your Products"
                    message="Update your products to keep the catalog up-to-date." button_content="View Products"
                    hidden="hidden" width="w-[150px]"}}
                    {{> admin/banner id="content4" href="/admin/orders" title="Review your Orders"
                    message="Check the latest orders and their status." button_content="View Orders"
                    hidden="hidden" width="w-[130px]"}}
                    {{> admin/banner id="content5" href="/admin/profile" title="Update your Profile"
                    message="Make sure your personal information is up to date." button_content="View Profile"
                    hidden="hidden" width="w-[130px]"}}

                    <img src="/system_images/dashboardbanner.gif" alt="dashboardbanner"
                        class="h-48 object-contain py-2 z-50">
                </header>

                <main class="flex-1 pt-4 overflow-y-auto">

                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-4">
                        {{> admin/card icon='<i class="bi bi-person-fill fs-2"></i>'
                        title="Users" content=users bg="blue-500" hover="blue-600" id="userOverview"}}
                        {{> admin/card icon='<i class="bi bi-box-fill fs-2"></i>'
                        title="Products" content=products bg="green-500" hover="green-600" id="productOverview"}}
                        {{> admin/card icon='<i class="bi bi-basket-fill fs-2"></i>'
                        title="Orders" content=orders bg="yellow-500" hover="yellow-600" id="orderOverview"}}
                    </div>

                     <!-- Users Overview -->
                    <div id="userOverviewContainer" class="container mx-auto p-6 hidden"></div>
                    
                    <!-- Product Overview -->
                    <div id="productOverviewContainer" class="container mx-auto p-6 hidden"></div>

                    <!-- Orders Overview -->
                    <div id="orderOverviewContainer" class="container mx-auto p-6 hidden"></div>

                    <!-- Performance overview -->
                    <div class="bg-white shadow rounded-lg p-6 mt-6">
                        <h2 class="text-lg font-bold mb-4">Performance Overview</h2>
                        <canvas id="dashboardChart" class="w-full h-64"></canvas>
                    </div>

                </main>
            </div>
        </main>
    </div>
    <div>
        {{> footer }}
    </div>
</div>

<script src="/js/admin/dashboard.js"></script>