<aside class="w-64 bg-blue-800 text-white flex flex-col shadow-lg rounded-lg">
    <div class="bg-indigo-600 p-6 space-y-6 rounded-t-lg">
        <h2 class="text-3xl font-semibold text-center text-white font-bold">Admin Dashboard</h2>
        <ul class="space-y-4 pl-0">
            <li class="font-semibold text-xl">
                <a href="/" class="block py-2 px-4 rounded-lg text-white no-underline hover:bg-indigo-500 hover:no-underline transition duration-300 ease-in-out flex items-center space-x-2">
                    <i class="bi bi-house-door-fill"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="font-semibold text-xl">
                <a href="/users" class="block py-2 px-4 rounded-lg text-white no-underline hover:bg-indigo-500 hover:no-underline transition duration-300 ease-in-out flex items-center space-x-2">
                    <i class="bi bi-person-fill"></i>
                    <span>Users</span>
                </a>
            </li>
            <li class="font-semibold text-xl">
                <a href="/products" class="block py-2 px-4 rounded-lg text-white no-underline hover:bg-indigo-500 hover:no-underline transition duration-300 ease-in-out flex items-center space-x-2">
                    <i class="bi bi-box"></i>
                    <span>Products</span>
                </a>
            </li>
            <li class="font-semibold text-xl">
                <a href="/orders" class="block py-2 px-4 rounded-lg text-white no-underline hover:bg-indigo-500 hover:no-underline transition duration-300 ease-in-out flex items-center space-x-2">
                    <i class="bi bi-basket-fill"></i>
                    <span>Orders</span>
                </a>
            </li>
            <li class="font-semibold text-xl">
                <a href="/settings" class="block py-2 px-4 rounded-lg text-white no-underline hover:bg-indigo-500 hover:no-underline transition duration-300 ease-in-out flex items-center space-x-2">
                    <i class="bi bi-gear-fill"></i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
